<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration. UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <namespace name="library.data" /> 
            <container>
                <register type="IRepository`1[Book]`" mapTo="BookRepository" /> 
            </container>
    </unity>
</configuration>
